<div class="container-about">
    <div class="img-txt">
      <img class="foto-perfil img-fluid" src="../assets/img/perfilej.png" alt="Foto de perfil">
      <div class="texto-titulos">
        <h3>Augusto Bortoli</h3>
        <h4>Full stack developer Jr.</h4>
      </div>
    </div>
    <div class="subtitulo">
      <h5>Sobre mí</h5>
      <p class="sobre-mi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet consequuntur iure nulla amet, fugit minima? Laborum asperiores tenetur cumque iusto totam, eum aut eos omnis unde deleniti provident quibusdam odio.</p>
    </div>
  </div>


  