<div class="iconos-header">
    <a href="https://www.instagram.com/augustobortoli/?hl=es" target="_blank"><img class="redes-header" src="../assets/img/instagram.png" alt="instagram"></a>
    <a href="https://www.linkedin.com/in/augusto-bortoli-250bb4203/" target="_blank"><img class="redes-header" src="../assets/img/linkedin.png" alt="linkedin"></a>
    <a href="https://github.com/Augusto-Bortoli" target="_blank"><img class="redes-header" src="../assets/img/github.png" alt="github"></a> 
</div> 
