<div class="exp-laboral">
    <h3 class="subtitulo">Experiencia laboral</h3>
    <div class="contenido-educacion">
        <div class="contenedor-imagen"> 
        <img class="imagen-laboral" src="../assets/img/webdoor.png" alt="Webdoor">
        </div>
        <div class="texto-edu">
            <h4 class="subtitulo txt-cyan">Webdoor - 2020-2021</h4>
            <p class="txt-cyan">Desarrollo de cursos de E-Learning <br>
            Manejo de HTML, CSS y JavaScript basico</p>
        </div>
        </div>
    </div>
  