<app-header></app-header>
<app-banner></app-banner>
<app-about-me></app-about-me>
<app-exp-laboral></app-exp-laboral>

<div class="educacion">
  <h3 class="subtitulo">Educación secundaria</h3>
  <div class="contenido-educacion">
    <div class="contenedor-imagen">
      <img class="imagen-educacion" src="../assets/img/bonoris.png" alt="colegio secundario">
    </div>
      <div class="texto-edu">
          <h4 class="txt-cyan">IPEM 165 Pbro. José Bonoris 2012-2018</h4>
          <p class="txt-cyan">Especialidad en gestión y economía</p>
      </div>
  </div>
  <h3 class="subtitulo">Estudios terciarios</h3>
  <div class="contenido-educacion">
    <div class="contenedor-imagen">
      <img class="imagen-educacion" src="../assets/img/UPCCLogo.png" alt="universidad popular colonia caroya">
    </div>
      <div class="texto-edu">
          <h4 class="txt-cyan">Extencion UTN Universidad Popular Colonia Caroya 2022-Actualidad</h4>
          <p class="txt-cyan"> Desarrollo de software</p>
      </div>
  </div>
  <div class="contenido-educacion">
    <div class="contenedor-imagen">
      <img class="imagen-educacion" src="../assets/img/ArgProLogo2.png" alt="ministerio de desarrollo">
    </div>
      <div class="texto-edu">
          <h4 class="txt-cyan">Ministerio de desarrollo productivo Argentina (Plan Argentina programa) 2021-Actualidad</h4>
          <p class="txt-cyan">Full-Stack web developer <br>
          Front-End stack: HTML, CSS, Bootstrap, Typescript y Angular.js. <br>
          Back-End stack: MySQL, Java con springboot, Apache Tomcat.  </p>
      </div>
  </div>
  <div class="contenido-educacion">
    <div class="contenedor-imagen">
      <img class="imagen-educacion" src="../assets/img/udemy.png" alt="udemy">
    </div>
    <div class="texto-edu">
          <h4 class="txt-cyan">Estudiante autodidacta 2020-Actualidad</h4>
          <p class="txt-cyan">Realización de diferentes cursos en plataformas digitales, manejo de HTML, CSS y JavaScript.</p>
      </div>
  </div>
</div>

<div class="skills">

  <!--Crear hard and soft skills con Javascript, puede ser con graficos de torta o algo por el estilo-->
</div>

<div class="proyectos">
  <h2>Proyectos realizados</h2>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/proyecto_cafe.png" class="d-block w-100" alt="Proyecto blog café">
          <div class="carousel-caption d-none d-md-block bgc_black">
            <h5><a href="https://augusto-bortoli.github.io/EjemploBlog/" target="_blank">Demo Blog café</a></h5>
            <p>Una pagina realizada con HTML y CSS a ejemplo de blog con diseño responsivo</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/bienesraices.png" class="d-block w-100" alt="Proyecto Bienes Raicecs">
          <div class="carousel-caption d-none d-md-block bgc_black">
            <h5><a href="https://augusto-bortoli.github.io/EjemploBlog/" target="_blank">Venta de bienes raices</a></h5>
            <p>Ejemplo página de venta de bienes raices, realizado con CSS y HTML.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/proyecto_cafe.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bgc_black">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bgc_black" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon bgc_black" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>